@use "./global/variables.scss";

.card__list {
  margin: 0 0 20px;
  display: grid;
  gap: 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px 38px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 30px;
    margin: 26px -1px 28px 4px;
  }
}

.card__item {
  list-style: none;
  padding: 40px 22px 21px 21px;
  background-color: $color-base-white;
  border-radius: 4px;
  box-sizing: border-box;

  &:hover,
  &:focus-within {
    box-shadow: 3px 6px 15px 0 rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet) {
    padding: 51px 21px 30px 33px;
  }

  @media (min-width: $desktop) {
    padding: 50px 31px 31px 25px;
  }
}

.card__image {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  display: block;
}

.card__picture {
  display: block;
  margin-bottom: 24px;
}

.card__buy {
  display: grid;
  grid-template-columns: 1fr 140px;
  gap: 20px;
  align-items: center;
  margin-top: auto;


  @media (min-width: $tablet) {
    gap: 96px;
  }

  @media (min-width: $desktop) {
    gap: 20px;
  }
}

.card__title-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  color: inherit;
}

.card__title {
  margin: 0 0 4px;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet) {
    margin: 30px 0 9px 0;
    font-size: 24px;
    line-height: 1.5;
  }

  @media (min-width: $desktop) {
    margin: 30px 2px 9px 2px;
  }
}

.card__description {
  margin: 0 0 17px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet) {
    margin: 0 0 18px;
  }

  @media (min-width: $desktop) {
    margin: 0 22px 19px 0;
  }
}

.card__price {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.card__button {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  outline: none;
  color: $color-base-white;
  background-color: $color-base-primary;
  box-sizing: border-box;

  &::before {
    content: "";
    background: url("../../images/icons/stack.svg#add-to-basket") no-repeat center/100%;
    width: 20px;
    height: 16px;
    margin-right: 6px;
  }

  @media (min-width: $desktop) {
    padding: 10px 16px;
  }

  &:focus,
  &:hover {
    background-color: $color-primary-lighter;
  }

  &:active {
    background-color: $color-primary-darker;
  }
}
