@use "./global/variables.scss";

.nav-header__list {
  display: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.nav-header__item {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding: 23px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}