@use "./global/variables.scss";

.user__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  min-width: 120px;
  margin: 0 0 0 auto;

  @media (min-width: $tablet) {
    order: 2;
    margin: 0;
  }
}

.user__item {
  list-style: none;
  padding: 20px;
}

.user__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 20px;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  &::before {
    width: 16px;
    height: 16px;
    background-color: currentColor;
  }

  @media (min-width: $tablet) {
    min-height: 80px;
  }

  &--user {
    @media (min-width: $desktop) {
      margin: 0 41px 0 70px;
    }
  }

  &:hover,
  &:focus {
    color: $color-base-primary;
  }

  &:active {
    background-color: $color-base-secondary;

    @media (min-width: $tablet) {
      color: $color-base-primary;
    }
  }
}

.user__profile-title {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    margin-left: 8px;
  }
}
